[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
matplotlib = "*"
snntorch = "*"
scikit-image = "*"
jupyterlab = "*"
jupyterlab-lsp = "*"
python-lsp-server = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
